﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - GoogleMapZoomToDIstance</title>


	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
	@RenderBody()
	
	<script src="~/js/site.js" asp-append-version="true"></script>

	@RenderSection("Scripts", required: false)
</body>
</html>
