﻿a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin:0;
  padding:0;
}

.main {
	height:calc(100vh - 8px);
}
.coll1, .coll2 {
	display:inline-block;
	height:100%;
	padding:0;
	margin:0;
}
.coll1 {
	width:300px;
	background-color:pink;
}

.coll2 {
	width:calc(100% - 304px);
	background-color:limegreen;
	float:right;
}

#map {
	height:100%;
}