﻿@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="main">
	<div class="coll1">
		<table>
			<tr>
				<td>Start Lat</td>
				<td colspan="2">
					<input type="number" id="startLat" />
				</td>
			</tr>
			<tr>
				<td>Lng</td>
				<td colspan="2">
					<input type="number" id="lng" />
				</td>
			</tr>
			<tr>
				<td colspan="2"></td>
				<td>
					<button id="run">Run Application</button>
				</td>
			</tr>
		</table>

	</div>
	<div class="coll2">
		<div id="map"></div>
	</div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?client=gme-protrackingaps&channel=WebTrack-Site1"></script>
<script src="~/js/GoogleMaps.js"></script>

<script type="text/javascript">
	var map = new GoogleMaps("#map");
	map.init().then(v => {
		console.log("help");
		var btn = document.getElementById("run");
		btn.addEventListener("click", ButtonClick);
	});

	function ButtonClick() {
		map.run();
	}
</script>